@page "/weather"
@using HomHavenBlazorProject.Models
@using HomHavenBlazorProject.Services
@inject HttpClient Http
@inject IBrokerageFirmService bfs

<PageTitle>API</PageTitle>

<h1>BrokerageFirms</h1>

@foreach (var firm in firms)
{
    <h2>@firm.FirmName</h2>
}




@code {
    public IEnumerable<BrokerageFirm> firms { get; set; }
    protected override async Task OnInitializedAsync()
    {
        firms = await bfs.GetAllAsync();
    }


}

