@page "/"
@using System.IdentityModel.Tokens.Jwt
@using System.Text.Json

@inject IResidenceService ResidenceService
@inject IRealtorFirmService RealtorFirmService
@inject ICategoryService categoryService
@inject IRegionService RegionService
@inject ILocalStorageService localstorage


<AuthorizeView>
	<Authorized>
			@context.User.FindFirst("Id")
		
	</Authorized>
</AuthorizeView>

<div class="filter-box">
	<h2 class="stitle">SÖK BOSTAD</h2><hr />
	<div class="toprowfilter">
		<div>
			<div class="regiondrop box">
				@if (RegionList == null)
				{
					<h2>loading...</h2>
				}
				else
				{
					<RegionDropDownList AllRegions="RegionList.OrderBy(r => r.Township).ToList()" Region="GetRegion" />
				}
			</div>
			<div class="room-box box">
				<h4 class="boxtitle">Antal rum</h4>
				<RoomCount MinCount="GetMinRoomCount" MaxCount="GetMaxRoomCount" />
			</div>

		</div>


		<div class="cate-box box">
			@if (CategoryList == null)
			{
				<h2>loading...</h2>
			}
			else
			{
				@foreach (var category in CategoryList)
				{
					<ResidenceCheckbox Name="@category.CategoryName" Id="category.CategoryId" OnCategorySelection="HandleCheckBox" />
				}
			}
		</div>

	</div>

	<div class="price-box box">
		<MinMaxPrice OnSelectedMinPrice="GetMinPrice" OnSelectedMaxPrice="GetMaxPrice" />
	</div>




</div>

<FilteredList MaxRoomCount="MaxCount" MinRoomCount="MinCount" MinPrice="MinPriceValue" MaxPrice="MaxPriceValue" Categories="SelectedCategoryList" SelectedRegion="SelectedRegion" />





@code {
	public IEnumerable<RealtorFirm> Firms { get; set; } = new List<RealtorFirm>();
	public IEnumerable<Category> CategoryList { get; set; } = new List<Category>();
	public List<Category> SelectedCategoryList { get; set; } = new List<Category>();
	private List<Residence> Residences { get; set; } = new List<Residence>();
	public IEnumerable<Residence> FilteredResidences { get; set; } = new List<Residence>();
	public IEnumerable<Region> RegionList { get; set; } = new List<Region>();
	public Region SelectedRegion { get; set; }

	public int MinCount { get; set; }
	public int MaxCount { get; set; }

	int MinPriceValue { get; set; } = 300000;
	int MaxPriceValue { get; set; } = 20000000;

	public UserJwt User { get; set; } = new UserJwt();  //Ta bort

	protected override async Task OnInitializedAsync()
	{
		Firms = await RealtorFirmService.GetAllAsync();
		CategoryList = await categoryService.GetAllAsync();
		FilteredResidences = await ResidenceService.GetAllAsync();
		RegionList = await RegionService.GetAllAsync();

		var token = await localstorage.GetItemAsync<string>("Token");  //Ta Bort
		if (token != null)
		{
			JwtSecurityTokenHandler handler = new JwtSecurityTokenHandler();
			JwtSecurityToken jwt = handler.ReadJwtToken(token);

			var jsonPayload = JsonSerializer.Serialize(jwt.Payload);
			User = JsonSerializer.Deserialize<UserJwt>(jsonPayload);
		}
		
	}

	private void GetMinRoomCount(int min)
	{
		MinCount = min;

	}
	private void GetMaxRoomCount(int max)
	{
		MaxCount = max;

	}

	private void HandleCheckBox(int id)
	{
		var category = CategoryList.FirstOrDefault(c => c.CategoryId == id);

		if (!SelectedCategoryList.Contains(category))
		{
			SelectedCategoryList.Add(category);
		}
		else
		{
			SelectedCategoryList.Remove(category);
		}
	}
	private void GetRegion(Region region)
	{
		SelectedRegion = region;
	}
	private void GetMinPrice(int min)
	{
		MinPriceValue = min;
	}
	private void GetMaxPrice(int max)
	{
		MaxPriceValue = max;
	}

}
