@page "/residence/{id:int}"
@inject NavigationManager NavigationManager
@inject IResidenceService ResidenceService


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		
		@if (Residence != null)
		{
			@foreach(var item in UrlList)
			{
				<div class="carousel-item active">
					<img src="@item" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="@item" class="d-block w-100" alt="...">
				</div>				
			}
		}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

@code {
	[Parameter]
	public int Id { get; set; }

	public Residence Residence { get; set; } = new Residence();
	public List<string> UrlList { get; set; } = new List<string>();

	protected override async Task OnInitializedAsync()
	{
		Residence = await ResidenceService.GetAsync(Id);
		UrlList = Residence.PictureListURL;
	}
}
