
@using HomeHavenBlazorProject.Models
@using HomeHavenBlazorProject.Services
@inject HttpClient Http
@inject IRealtorFirmService RealtorFirmService

<h1>RealtorFirms</h1>

@if(Firms == null){
<h2>loading...</h2>
}
else{
@foreach (var firm in Firms)
{
	<h2>@firm.FirmName</h2>
}

}




@code {
	public IEnumerable<RealtorFirm> Firms { get; set; }
	protected override async Task OnInitializedAsync()
	{
		Firms = await RealtorFirmService.GetAllAsync();
	}


}
