
<div class="slider-wrapper">
    <div class="MinValContainer  pricelabel">
        <label class="MinValLabel">Min</label><br />
        <input class="w-100" type="range" step="250000" min="250000" max="20000000" @oninput="FilterMinPrice" /><br />
        <output>@SelectedMinPrice kr</output>
    </div>
    <hr />
    <div class="MaxValContainer pricelabel">
        <label class="MaxValLabel">Max</label>
        <input class="w-100" type="range" value="@SelectedMaxPrice" step="250000" min="300000" max="20000000" @oninput="FilterMaxPrice" />
        <output>@SelectedMaxPrice kr</output>
    </div>
</div> 


@code {
    [Parameter]
    public EventCallback<int> OnSelectedMinPrice { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectedMaxPrice { get; set; }

    [Parameter]
    public int SelectedMinPrice { get; set; } = 250000;

    [Parameter]
    public int SelectedMaxPrice { get; set; } = 20000000;

    protected async Task FilterMinPrice(ChangeEventArgs e)
    {
        SelectedMinPrice = Convert.ToInt32(e.Value);
        await OnSelectedMinPrice.InvokeAsync(SelectedMinPrice);
    }

    protected async Task FilterMaxPrice(ChangeEventArgs e)
    {
        SelectedMaxPrice = Convert.ToInt32(e.Value);
        await OnSelectedMaxPrice.InvokeAsync(SelectedMaxPrice);
    }
}
