
@inject IRegionService RegionService

@if (AllRegions != null)
{
    <div class="flex-row">
        <select  @onchange="ChosenRegion">
            <option disabled selected>Välj kommun</option>
            <option value=null>Alla kommuner</option>
            @foreach (var region in AllRegions)
            {
                <option value="@region.Township">@region.Township</option>
            }
        </select>
    </div>
}
@code {
    //Author Joel
    [Parameter]
    public IEnumerable<Region> AllRegions { get; set; } = new List<Region>();
    [Parameter]
    public EventCallback<Region> Region { get; set; }
    [Parameter]
    public int Id { get; set; }

    public async void ChosenRegion(ChangeEventArgs e)
    {  
        var township = e.Value.ToString();
        var selectedRegion = AllRegions.FirstOrDefault(r => r.Township == township);
        await Region.InvokeAsync(selectedRegion);
    }
}
