@inject IResidenceService ResidenceService
<div style="display: flex;">
    <div class="flex-row">
        <label>Min:</label>
        <select value="" @onchange="MinCountChanged">
            @foreach (var item in RoomCountList)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="flex-row">
        <label class="maxlabel">Max:</label>
        <select value = "" @onchange="MaxCountChanged">
            @foreach (var item in RoomCountList)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
</div>



@code {
    //Author Joel

    public List<int> RoomCountList = new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9};

    [Parameter]
    public EventCallback<int> MinCount { get; set; }
    [Parameter]
    public EventCallback<int> MaxCount { get; set; }
    [Parameter]
    public bool IsSelected { get; set; } = false;
    [Parameter]
    public int MinValue { get; set; }
    [Parameter]
    public int MaxValue { get; set; }


    protected async Task MinCountChanged(ChangeEventArgs e)
    {
        var newValue = Convert.ToInt32(e.Value);
        MinValue = newValue;
        await MinCount.InvokeAsync(newValue);
    }
    protected async Task MaxCountChanged(ChangeEventArgs e)
    {
        var newValue = Convert.ToInt32(e.Value);
        MaxValue = newValue;
        await MaxCount.InvokeAsync(newValue);
    }

}
