@inject IFirmRequestService firmRequestService
@inject NavigationManager NavigationManager
<h2>Skickade:</h2>
@if (MyRequests.Count() == 0)
{
	<h4>Inga inbjudningar</h4>
}
else
{
	@foreach (var request in MyRequests)
	{
		<h4>
			Till: @request.ToEmail
			<button @onclick="(e=> DeleteRequest(request))" type="button" class="btn btn-danger">X</button>
		</h4>

	}
}

@code {
	[Parameter]
	public List<FirmRequest> MyRequests { get; set; }


	public void DeleteRequest(FirmRequest Request)
	{
		MyRequests.Remove(Request);
		firmRequestService.DeleteAsync(Request.FirmRequestId);
	}
}
