@inject IFirmRequestService FirmRequestService
@inject NavigationManager NavigationManager

<h2 class="mt-2">Skicka Inbjudan</h2>

<EditForm Model="Request" OnSubmit="RequestHandler">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label for="ToEmail">E-mail:</label>
		<InputText Id="ToEmail" Class="form-control" @bind-Value="Request.ToEmail" />
		<ValidationMessage For="@(() => Request.ToEmail)" />
		<input type="hidden" @bind="Request.RealtorFirmId" style="display: none;" />
		<input type="hidden" @bind="Request.FromEmail" style="display: none;" />

	</div>

	<button type="submit" class="btn btn-secondary mt-2 mb-2">Submit</button>
</EditForm>



@code {
	//Author Jakob
	[Parameter]
	public string FromEmail { get; set; }
	[Parameter]
	public int RealtorFirmId { get; set; }

	public FirmRequest Request { get; set; } = new FirmRequest();


	private async Task RequestHandler()
	{
		Request.FromEmail = FromEmail;
		Request.RealtorFirmId = RealtorFirmId;
		FirmRequestService.CreateAsync(Request);
		NavigationManager.Refresh();
	}
}
